@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 

.h1{
    font-family: 'Roboto';

}

  .colors{
background-color: rgba(215, 32, 66, 0.326)
  }
  .colors{
    background-color: rgb(255, 255, 255)
      }
  

